@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="javascript:void(1);" method="get" name="FormReaction" onsubmit="loadIntoTable(document.getElementById('reaction').value)">
        <label for="reaction">Search for reaction:</label>
        <input type="text" id="reaction" name="reaction">
        <br>
        <br>
        <input type="submit" value="Search">
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Name of Ingredient</th>
                    <th>Count</th>
                    <th>Prcentage</th>
                </tr>
            </thead>
            <tbody id="ingredients"></tbody>
        </table>
    </form>
</div>

<script type="text/javascript">

    async function loadIntoTable(reaction) {
        const tableBody = document.querySelector("table").querySelector("tbody");
        const response = await fetch('drug/GetMainIngredients?reaction=' + reaction);

        const data = await response.json();

        tableBody.innerHTML = ""

        for (const row of data) {
            const rowElement = document.createElement("tr");

            const cellElement1 = document.createElement("td");
            const cellElement2 = document.createElement("td");
            const cellElement3 = document.createElement("td");

            cellElement1.textContent = row["term"];
            cellElement2.textContent = row["count"];
            cellElement3.textContent = row["precentage"];

            rowElement.appendChild(cellElement1);
            rowElement.appendChild(cellElement2);
            rowElement.appendChild(cellElement3);

            tableBody.appendChild(rowElement);
        }
    }
</script>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
    }
</style>