@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form action="javascript:void(0);" method="get" name="FormReaction" onsubmit="getItems()">
        <label for="reaction">Search for reaction:</label>
        <input type="text" id="reaction" name="reaction"><br><br>
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Name of ingredient</th>
            <th>Count of the specified reaction</th>
            <th>The relative percentage among the fetched results.</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tbody id="ingredients"></tbody>
    </table>
</div>

<script type="text/javascript">

    function getItems() {
        fetch('drug/GetMainIngredients?reaction=death')
            .then(response => console.log(response.json()))
            .catch(error => console.error('Unable to get items.', error));
    }

</script>

<style>
    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
        background-color: #f6f6f6;
    }
    /* Spacing */
    td, th {
        border: 1px solid #999;
        padding: 20px;
    }

    th {
        background: brown;
        color: white;
        border-radius: 0;
        position: sticky;
        top: 0;
        padding: 10px;
    }

    .primary {
        background-color: #000000
    }

    tfoot > tr {
        background: black;
        color: white;
    }

    tbody > tr:hover {
        background-color: #ffc107;
    }
</style>